body {
  background-color: rgb(0, 0, 0);
  }
  

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 40%;
}

/* Headings*/
h1 {
  font-size: 40px; color: rgb(0, 0, 0); 
  text-align: center;
}

h2 {
  font-size: 40px; color: rgb(255, 255, 255); 
  text-align: center;
}

h5 {
  font-size: 40px; color: rgb(0, 0, 0); 
  text-align: center;
}


/*paragraphs  */
p { 
  font-size: 25px; 
  color:rgb(0, 0, 0); 
  text-align: center;
}

.illust {
  border-radius: 50px;
  border: 5px solid 	rgb(0, 0, 0);
  padding: 2px ;
  background-color: rgb(255, 255, 255);
  width: 1030px;
  height:600px;
  float: left;
}

.illust1 {
  border-radius: 50px;
  border: 5px solid 	rgb(0, 0, 0);
  padding: 2px ;
  background-color: rgb(255, 255, 255);
  width: 1030px;
  height:600px;
  float: right;
}

.illust2 {
  border-radius: 50px;
  border: 5px solid 	rgb(0, 0, 0);
  padding: 2px ;
  background-color: rgb(255, 255, 255);

  float: right;
}

.illust:hover, .illust1:hover, .illust2:hover {
  box-shadow: 0 0 50px 20px rgb(0, 0, 0);
}

/* Begining image*/
.title {
    max-width: 100%;
    height: auto;
}

.absl {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%,-50%);
}
  
.centre {
    text-align: center!important;
}

.top_margin {
    margin-top: 30px!important;
}

.wack-display-middle {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.wing-display-middle {
    position: absolute;
    top: 14%;
    left: 91.5%;
    transform: translate(-50%,-50%);
}

.wing-center {
    text-align: center!important;
}

.wong-margin-top {
    margin-top: 16px!important;
}


.big {
    font-size: 36px!important;
}

.title_text, .title_text:hover {
    color: #fff!important;
}

.text_colour, .text_colour:hover{
    color: #f1f1f1!important;
}

.w3-padding {
    padding: 8px 16px!important;
}
.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: rgb(27, 40, 56)!important;
}

.w3-opacity-min {
    opacity: 0.75;
}


nav {
  font-size: 20px;
}

/* Navigation bar colour */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(27, 40, 56);
  position: fixed;
  top: 0;
  width: 100%;
  
}


ka {
  float: left;
}

ka a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


ka a:hover:not(.active) {
  background-color: rgb(255, 139, 30);
}

  zu {
  float: left;
}

zu a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

zu a:hover:not(.active) {
  background-color: rgba(61, 50, 25);
}

/* code for instagram pink colour hover over*/
ha {
  float: left;
}

ha a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ha a:hover:not(.active) {
  background-color: rgb(255, 59, 59);
}


/* backround colour for twitch and first */
.twitch{
  background-color: rgb(27, 40, 56);
  
}

.active {
  background-color: rgb(0, 0, 0) ;
}




.hide {
  color: rgb(42, 71, 94);
  border: 2px rgb(42, 71, 94);
  margin: 10px;
  padding: 10px;
}


.spacing > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 30px; 
}

.spacing {
    display: flex;
  height: 150px;
  flex-wrap: wrap;
  align-content: space-between;
  background-color: rgb(0, 0, 0);
}

.box {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}

.box > div {
  background-color: rgb(255, 255, 255);
  margin: 30px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.box1 {
  display: flex;
  background-color: rgb(255, 255, 255);
  text-align: justify;
  text-justify: inter-word;
  border-radius: 50px;
}

.box1 > div {
  background-color: rgb(255, 255, 255);
  margin: 30px;
  padding: 30px;
  font-size: 30px;
  text-align: justify;
  text-justify: inter-word;
  
}

.box2 {
  display: flex;
  background-color: rgb(255, 255, 255);
  text-align: justify;
  text-justify: inter-word;
  border-radius: 50px;
}

.box2 > div {
  background-color: rgb(255, 255, 255);
  margin: 30px;
  padding: 30px;
  font-size: 15px;
  text-align: justify;
  text-justify: inter-word;
  
}
  
table {
  font-family: arial, sans-serif;
  border-collapse:collapse;
  border:solid rgba(61, 50, 25) 3px;
  border-radius:6px;
  -moz-border-radius:6px;
  }
  
  
th {
border: 3px solid rgba(61, 50, 25);
text-align: center;
padding: 6px;
font-style: oblique;
font-size:25px; coloR:BLACK;
}

td {
border: 3px solid rgba(61, 50, 25);
text-align: center;
padding: 6px;
font-weight: bold;
font-style: oblique;
font-size: 20px;
}

tr:nth-child(even) {
background-color: rgba(151, 243, 255, 0.685);
}

tr:nth-child(odd) {
background-color: rgba(236, 254, 255, 0.644);
}
.column {
float: left;
width: 49%;
padding: 5px;
}
  
.row {
margin-left:-5px;
margin-right:-5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
  
.img-container{
  margin-left: auto;
  margin-right: auto;

} 

